* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 800px;
    height: 80vh;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    margin: 10vh auto 10vh auto
}

.carousel-container {
    flex: 1;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-container:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .4;
}

.header-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -5;
}

.header-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.active {
    opacity: 1;
    z-index: -1;
    transition: none;
}

#form {
    height: 80vh;
    background-color: whitesmoke;
    padding: 25px;
    font-size: 16px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form h1 {
    color: #0f0f0f;
    text-align: center;
    font-size: 30px;
}

#form button {
    padding: 15px;
    margin-top: 10px;
    font-size: 16px;
    width: 100%;
    color: white;
    background-color: rgb(27, 27, 27);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%
}

.input-control-checkbox input, .input-control-checkbox label{
    cursor: pointer;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 12px;
    height: 17px;
}

.input-control-checkbox .error {
    color: #ff3860;
    font-size: 12px;
    height: 17px;
}

@media (max-width: 768px) {
    .carousel-container {
        display: none;
    }
}